
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f0f4f8;
  text-align: center;
  padding: 50px;
  color: #333;
}
.container {
  background: white;
  border-radius: 16px;
  padding: 40px;
  max-width: 500px;
  margin: 0px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
button, input[type="submit"] {
  background-color: #0077cc;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}
input[type="text"] {
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
}
img {
  max-width: 100%;
  border-radius: 12px;
}
.hidden-image {
  position: absolute;
  top: 95%;
  left: 45%;
  opacity: 1;
  width: 100px;
  height: auto;
  cursor: pointer;
  touch-action: manipulation;
}

.fondo-pista1 {
  background-image: url("fondo.png");
  background-size: contain;       /* Cubre todo el espacio sin deformarse */
  background-position: center;  /* Centra la imagen */
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;                /* Ocupa toda la altura de la pantalla */
}
